:local(.sidebar) {
  width: 35%;
  min-width: 350px;
  max-width: 450px;
  padding: 10px 10px 10px 0;
}

:local(.sidebar > div) {
  padding: 10px 10px 10px 10px;
  margin-bottom: 5px;
}

:local(.tags > div) {
  margin-right: 5px;
  margin-top: 5px;
}
